<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
  <head></head>
  <body>



Buen día,<br>
<br>
El catálogo de sismicidad adjunto contiene información de los eventos con epicentros registrados en un
 área de radio de %s km centrada en las siguientes coordenadas (lon:%s y lat:%s),
  desde el %s hasta el %s. La información podría ser 
  actualizada con la inclusión de sismos de baja magnitud localizados en un procesamiento posterior, y se vería en el siguiente reporte.

<br>
<br>
<b>Reporte: %s sismos. %s</b>
<br>
<br>
<br>
Les recordamos que los eventos con magnitudes mayores a 4 o reportados como sentidos en el territorio nacional se publican en nuestra página Web (https://www.sgc.gov.co) 
y en nuestras redes sociales (Twitter: @sgcol y Facebook: https://www.facebook.com/sgcolombiano/)<br>
<br>
<br>
--
<p style="color:#696969";>Red Sismológica Nacional de Colombia SGC</p>
  </body>
</html>